In [ ]:
#instala a biblioteca pandas
!pip install pandas

In [5]:
#importar biblioteca pandas
import pandas as pd

In [ ]:
#criando um dicionario
Dicionario = {
    'A' : [1,2,3],
    'B' : [-3,-2,-1],
    'C' : [0,10,20]
}
Label = ['1ª Linha', '2ª Linha',  '3ª Linha']
Dataframe_01=pd.DataFrame(Dicionario, index=Label)
print(Dataframe_01)

In [ ]:
#Exibindo as colunas A e B
Dataframe_01[['A','B']]

In [8]:
#Criando uma coluna no dataframe
Dataframe_01['Nova coluna'] = Dataframe_01['A']*Dataframe_01['B']

In [ ]:
Dataframe_01 #Exibe o dataframe

In [18]:
# Exibindo valores na saída da célula do notebook
a = 6 
print(a)
Dataframe_01

6

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [ ]:
#Excluindo uma coluna do Dataframe
#Drop exclui uma linha ou coluna do Dataframe
Dataframe_01.drop('Nova coluna',axis=1) #exclui a nova coluna do dataframe 1

In [13]:
#Excluindo uma coluna definitivamente do Dataframe
Dataframe_01.drop('Nova coluna',axis=1,inplace=True)

In [ ]:
#Localizando uma linha do Dataframe utilizando o comando Loc
Dataframe_01.loc['1ª Linha']

In [ ]:
Dataframe_01.loc['2ª Linha']

In [ ]:
Dataframe_01.loc['3ª Linha']

In [ ]:
#Localizando diversas linhas e colunas
Dataframe_01.loc[['1ª Linha','2ª Linha','3ª Linha'],['A','C']]

In [28]:
#Localizando a linha e a coluna pelo indice
Dataframe_01.iloc[2:3,1:] #Linha, coluna

          B   C
3ª Linha -1  20

In [27]:
Dataframe_01.iloc[0:3,0:] #Linha, coluna

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20