In [ ]:
#instala a biblioteca pandas
!pip install pandas

In [5]:
#importar biblioteca pandas
import pandas as pd

In [ ]:
#criando um dicionario
Dicionario = {
    'A' : [1,2,3],
    'B' : [-3,-2,-1],
    'C' : [0,10,20]
}
Label = ['1ª Linha', '2ª Linha',  '3ª Linha']
Dataframe_01=pd.DataFrame(Dicionario, index=Label)
print(Dataframe_01)

In [ ]:
#Exibindo as colunas A e B
Dataframe_01[['A','B']]

In [8]:
#Criando uma coluna no dataframe
Dataframe_01['Nova coluna'] = Dataframe_01['A']*Dataframe_01['B']

In [ ]:
Dataframe_01 #Exibe o dataframe

In [18]:
# Exibindo valores na saída da célula do notebook
a = 6 
print(a)
Dataframe_01

6

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [ ]:
#Excluindo uma coluna do Dataframe
#Drop exclui uma linha ou coluna do Dataframe
Dataframe_01.drop('Nova coluna',axis=1) #exclui a nova coluna do dataframe 1

In [13]:
#Excluindo uma coluna definitivamente do Dataframe
Dataframe_01.drop('Nova coluna',axis=1,inplace=True)

In [ ]:
#Localizando uma linha do Dataframe utilizando o comando Loc
Dataframe_01.loc['1ª Linha']

In [ ]:
Dataframe_01.loc['2ª Linha']

In [ ]:
Dataframe_01.loc['3ª Linha']

In [ ]:
#Localizando diversas linhas e colunas
Dataframe_01.loc[['1ª Linha','2ª Linha','3ª Linha'],['A','C']]

In [28]:
#Localizando a linha e a coluna pelo indice
Dataframe_01.iloc[2:3,1:] #Linha, coluna

          B   C
3ª Linha -1  20

In [ ]:
Dataframe_01.iloc[0:3,0:] #Linha, coluna

In [ ]:
#Verificando as condições do DataFrame
print(Dataframe_01)
Dataframe_01>0

In [ ]:
#Criando filtro no Dataframe
Filtro=Dataframe_01['C']>0 #Armazena em filtro a resposta da verificação
Dataframe_02=Dataframe_01[Filtro] #Criando um dataframe
Dataframe_02['A']

In [ ]:
Filtro

In [ ]:
#Criando um filtro utilizando a condição &
Dataframe_01[(Dataframe_01['B']>5) & (Dataframe_01['C']>2)]

In [ ]:
#Criando um filtro utilizando a condição OR
Dataframe_01[(Dataframe_01['B']>5) | (Dataframe_01['C']>2)]

In [37]:
# Resetando o index do Dataframe
Dataframe_01.reset_index()

      index  A  B   C
0  1ª Linha  1 -3   0
1  2ª Linha  2 -2  10
2  3ª Linha  3 -1  20

In [38]:
# Resetando o index do Dataframe
Dataframe_01.reset_index(inplace=True)

In [ ]:
Dataframe_01.drop('index', axis=1,inplace=True) #exclui coluna index

In [12]:
#Criando varios dicionarios
Dicionario_01={
    'A':[1,2,3],
    'B':[-32,-21,-15],
    'C':[60,10,20],
    'Chave':['AA','BB','CC']
}
#Dicionario 2
Dicionario_02={
    'A':[6,7,8],
    'B':[-39,-28,-17],
    'C':[1000,10,60],
    'Chave':['AA','BB','CC']
}
#Dicionario 3
Dicionario_03={
    'A':[11,12,13],
    'B':[-39,-22,-11],
    'C':[30,10,20],
    'Chave':['AA','BB','CC']
}
#Criando as listas para serem os labels
Label_01=['1ª Linha','2ª Linha','3ª Linha']
Label_02=['4ª Linha','5ª Linha','6ª Linha']
Label_03=['7ª Linha','8ª Linha','9ª Linha']

#Criando os dataframes 
Dataframe_01n=pd.DataFrame(Dicionario_01,index=Label_01)
Dataframe_02n=pd.DataFrame(Dicionario_02,index=Label_02)
Dataframe_03=pd.DataFrame(Dicionario_03,index=Label_03)

In [ ]:
Dataframe_01n

In [13]:
Dataframe_02n

          A   B     C Chave
4ª Linha  6 -39  1000    AA
5ª Linha  7 -28    10    BB
6ª Linha  8 -17    60    CC

In [ ]:
Dataframe_03

In [14]:
#Empilhando os Datraframes 1,2 e 3
pd.concat([Dataframe_01n,Dataframe_02,Dataframe_03])

           A   B     C Chave
1ª Linha   1 -32    60    AA
2ª Linha   2 -21    10    BB
3ª Linha   3 -15    20    CC
4ª Linha   6 -39  1000    AA
5ª Linha   7 -28    10    BB
6ª Linha   8 -17    60    CC
7ª Linha  11 -39    30    AA
8ª Linha  12 -22    10    BB
9ª Linha  13 -11    20    CC

In [ ]:
#Mescla os Dataframes utilizando merge how inner verifica se a chave esta presente em ambos os lados
pd.merge(Dataframe_01n,Dataframe_02,how='inner',on='Chave')

   A_x  B_x  C_x Chave  A_y  B_y   C_y
0    1  -32   60    AA    6  -39  1000
1    2  -21   10    BB    7  -28    10
2    3  -15   20    CC    8  -17    60

In [ ]:

pd.merge(Dataframe_01n,Dataframe_03,how='left',on='Chave')

In [ ]:

pd.merge(Dataframe_01n,Dataframe_03,how='right',on='Chave')

In [ ]:

pd.merge(Dataframe_01n,Dataframe_02n,how='outer',on='Chave')

In [ ]:

pd.merge(Dataframe_01n,Dataframe_03,how='cross',on='Chave')